.newsletter__wrapper {
  max-width: 1400px;
  margin-left: calc(50% - 700px - 60px);
  margin-right: auto;
  padding-right: calc(4rem / var(--font-body-scale));
  padding-left: calc(4rem / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-right: 9rem;
    padding-left: 9rem;
  }
}

@media screen and (max-width: 1540px) {
  .newsletter__wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

.newsletter__wrapper>* {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper>*+* {
  margin-top: 2rem;
}

.newsletter__wrapper>*+.newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  font-family: 'Pilcrow', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0;
  text-transform: uppercase;
  max-width: 70rem;
  margin-left: calc(20px - calc(4rem / var(--font-body-scale)));
  margin-right: auto;
  text-align: left;
}

@media screen and (min-width: 750px) {
  .newsletter__subheading {
    margin-left: calc(20px - 9rem);
  }
}

.newsletter__subheading p {
  margin: 0;
  line-height: 36px;
}

.newsletter__subtitle-text {
  font-family: 'Azeret Mono', monospace;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  text-transform: capitalize;
  color: #999999;
  margin-top: 23px;
  margin-left: calc(20px - calc(4rem / var(--font-body-scale)));
  text-align: left;
}

@media screen and (min-width: 750px) {
  .newsletter__subtitle-text {
    margin-left: calc(20px - 9rem);
  }
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 36rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}